{% extends 'base.html.twig' %}
    {% block stylesheets %}
    {% endblock %}

{% block title %}Nouvelle reservation{% endblock %}

{% block body %}

    <section class="vert text-white pt-5">
        <div class="container-fluid">
            <h1 class="ml-2 my-3">Créer une nouvelle réservation</h1>

            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}

            {{ include('admin/reservations/_form.html.twig') }}

            <a class="btn btn-secondary my-3" href="{{ path('articles_index') }}">Retour à la liste</a>
        </div>
    </section>

    {% block javascripts %}

    {% endblock %}
{% endblock %}
